$primaryColor: #FF0000;

body {
      font-family: Verdana;
      font-size: 1.5em;

      h1 {
        color: $primaryColor;
      }
}


#team-members {
              clear: both;
              .member {
                          float: left;
                          /*border: 1px solid gray;*/
                          margin: 10px;
                          padding: 6px;
                          transition: all .3s ease-in-out;

                      &:hover {

                        transform: scale(1.1);

                      }


                      img {
                          width: 200px;
                          height: 200px;
                          border-radius: 35px;
                          box-shadow: 20px 13px 20px #505050;
                      }
                      div.name {
                          text-align: center;
                      }

              }
}
